
<%= form_with(model: presset, local: true, class: "form preset" )do |form| %>
  <h2 class="small">
  <%= "#{operation} Preset" %>
  </h2>
  <% if presset.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(presset.errors.count, "error") %> prohibit the creation of the preset</h2>

      <ul>
        <% presset.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="preset-element">
    <%= form.label :front_pressure %> <br>
    <%= form.number_field :front_pressure, class: "pressure-value" %>
  </div>

  <div class="preset-element">
    <%= form.label :rear_pressure %> <br>
    <%= form.number_field :rear_pressure, class: "pressure-value" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
