<%= form_with(model: @presset, local: true) do |form| %>
  <% if @presset.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "erori") %> nu permit salvarea setarilor</h2>

      <ul>
        <% @post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :front_pressure %>
    <%= form.number_field :front_pressure %>
  </div>

  <div class="field">
    <%= form.label :rear_pressure %>
    <%= form.number_field :rear_pressure %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
